body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
header {
	display: flex;
	background-image: url(../images/top-banner.png);
	background-repeat: no-repeat;
	margin-bottom: 100px;
}
.half-width {
	width: 50%;
	margin-left: 5%;
}
h1 {
	font-size: 48px;
}
.half-width img {
	width: 80%;
}
.color-orange {
	color: orange;
}
.btn-link {
	font-size: 16px;
	color: white;
	text-decoration: none;
	background: linear-gradient(tomato,orange);
	padding: 10px 40px;
	border-radius: 10px;
}

.dream-sec {
	display: flex;
	background-image: url(../images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	margin-bottom: 100px;
}
.exp-sec {
	margin-bottom: 100px;
}
.experiences {
	display: flex;
	padding: 50px;
}
.single-experience {
	box-shadow: 10px 10px 40px gray;
	border-radius: 10px;
	height: 300px;
	padding: 30px;
}
.full-stack {
	border-left: 9px solid;
	border-image: linear-gradient(lightsalmon,tomato);
	border-image-slice: 1;
}
.baby-dev {
	border-left: 9px solid;
	border-image: linear-gradient(blue,cyan);
	border-image-slice: 1;
}
footer p {
	font-size: 12px;
	text-align: center;
}