body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
header {
	display: flex;
	background-image: url("../images/top-banner.png");
	background-repeat: no-repeat;
	padding: 10px;
}
header h1 {
	font-size: 47px;
}
header h1 span {
	color: orange;
}
header .half-width {
	width: 50%;
	padding-left: 5%;
}
.half-width img {
	width: 80%;
}
header .half-width a {
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding: 10px 40px;
	border-radius: 10px;
	font-weight: bold;
	background-image: linear-gradient(tomato,orange);
}